# List

##### 1.Create a list of numbers from 1 to 10. Append the number 11 to the list, and then insert the word "Python" at the third position. Print the final list.
##### 2.Remove the number 5 from a list [1, 2, 3, 4, 5, 6, 7] using the remove() method.
##### 3.Create a list [10, 20, 30, 40]. Use the pop() method to remove the last item and print the updated list.
##### 4.Extend a list [1, 2, 3] with the elements [4, 5, 6], and print the resulting list.

In [5]:
#Q1
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.append(11)
list1.insert(3,"Python")
print(list1)

[1, 2, 3, 'Python', 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
#Q2
list2 = [1,2,3,4,5,6,7]
list2.remove(5)
print(list2)

[1, 2, 3, 4, 6, 7]

In [8]:
#Q3
list3 = [10,20,30,40]
list3.pop()
print(list3)

[10, 20, 30]

In [9]:
#Q4
list4 = [1,2,3]
list4.extend([4,5,6])
print(list4)

[1, 2, 3, 4, 5, 6]

# Dictionaries

##### 5.Create a dictionary with keys as numbers from 1 to 3 and values as their respective squares (e.g., {1: 1, 2: 4, 3: 9}).
##### 6.Add a new key-value pair to a dictionary {"name": "Alice", "age": 25}. Add the pair "city": "New York".
##### 7.Use the pop() method to remove the key "age" from the dictionary {"name": "Alice", "age": 25, "city": "New York"} and print the result.

In [11]:
#Q5
dic = {1:1,2:4,3:9}
print(dic)

{1: 1, 2: 4, 3: 9}

In [13]:
#Q6
dic2 =  {"name": "Alice", "age": 25}
dic2 ["city"] = "New York"
print(dic2)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [15]:
#Q7
dic2.pop("city")
print(dic2)

{'name': 'Alice', 'age': 25}

# Tuples

##### 8.Create a tuple with the elements (5, 10, 15, 20). Use slicing to extract the first two elements.
##### 9.Convert the tuple (1, 2, 3, 4, 5) into a list, modify it by adding the number 6, and then convert it back to a tuple.
##### 10.Write a Python statement to find the length of the tuple (10, 20, 30, 40, 50).

In [19]:
#Q8
tup = (5,10,15,20)
sliced_tup = tup[0:2]
print(sliced_tup)

(5, 10)

In [21]:
#Q9
tup = (1, 2, 3, 4, 5)
tup_list = list(tup)
tup_list.append(6)
modified_tup = tuple(tup_list)
print(modified_tup)

(1, 2, 3, 4, 5, 6)

In [20]:
#Q10
tup2 = (10,20,30,40,50)
print(len(tup2))

5

# Sets

##### 11.Create a set from the list [1, 1, 2, 3, 4, 4, 5] and print the resulting set.
##### 12.Add the number 100 to the set {10, 20, 30} and print the updated set.
##### 13.Perform the union operation on two sets: {1, 2, 3} and {3, 4, 5}. Print the result.
##### 14.Remove the number 7 from the set {5, 6, 7, 8, 9} using the discard() method.

In [3]:
#Q11
list1 = [1, 1, 2, 3, 4, 4, 5]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [2]:
#Q12
set1 = {10, 20, 30}
set1.add(100)
print(set1)

{100, 10, 20, 30}

In [4]:
#Q13
set1 = {1, 2, 3}
set2 = {3, 4, 5}
unionset = set1.union(set2)
print(unionset)

{1, 2, 3, 4, 5}

In [5]:
#Q14
set1 = {5, 6, 7, 8, 9}
set1.discard(7)
print(set1)

{5, 6, 8, 9}