In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [7]:
a = {-5:25,-4:16,-3:9,-2:4,-1:1,0:0,1:1,2:4,3:9,4:16,5:25}
s = pd.Series(a)

In [13]:
s

-5    25
-4    16
-3     9
-2     4
-1     1
 0     0
 1     1
 2     4
 3     9
 4    16
 5    25
dtype: int64

In [11]:
print(type(s))

<class 'pandas.core.series.Series'>

In [55]:
s < 5

-5    False
-4    False
-3    False
-2     True
-1     True
 0     True
 1     True
 2     True
 3    False
 4    False
 5    False
dtype: bool

In [57]:
s[s<5]

-2    4
-1    1
 0    0
 1    1
 2    4
dtype: int64

In [59]:
s[s%2 == 0]

-4    16
-2     4
 0     0
 2     4
 4    16
dtype: int64

In [15]:
print(dir(s))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [19]:
print (s.values)

[25 16  9  4  1  0  1  4  9 16 25]

In [21]:
print(s.index)

Index([-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5], dtype='int64')

In [33]:
s2 = pd.Series([i for i in range (10)])

In [37]:
print(s2.index)

RangeIndex(start=0, stop=10, step=1)

In [43]:
s3 = pd.Series([1,3,5,7],index = ['a','b','c','d'])

In [45]:
s3

a    1
b    3
c    5
d    7
dtype: int64

In [49]:
print(s3['b'])

3

In [51]:
print(s3['b':'d'])

b    3
c    5
d    7
dtype: int64

In [53]:
print(s[-5:3:2])

Series([], dtype: int64)

In [65]:
b = {i : i ** 3 for i in range(-6,6)}

In [73]:
df = pd.DataFrame({'Squares':a,'Cubes':b})

In [75]:
df

    Squares  Cubes
-5     25.0   -125
-4     16.0    -64
-3      9.0    -27
-2      4.0     -8
-1      1.0     -1
 0      0.0      0
 1      1.0      1
 2      4.0      8
 3      9.0     27
 4     16.0     64
 5     25.0    125
-6      NaN   -216

In [77]:
print(df)

    Squares  Cubes
-5     25.0   -125
-4     16.0    -64
-3      9.0    -27
-2      4.0     -8
-1      1.0     -1
 0      0.0      0
 1      1.0      1
 2      4.0      8
 3      9.0     27
 4     16.0     64
 5     25.0    125
-6      NaN   -216

In [79]:
df['Squares']

-5    25.0
-4    16.0
-3     9.0
-2     4.0
-1     1.0
 0     0.0
 1     1.0
 2     4.0
 3     9.0
 4    16.0
 5    25.0
-6     NaN
Name: Squares, dtype: float64

In [81]:
df.Squares

-5    25.0
-4    16.0
-3     9.0
-2     4.0
-1     1.0
 0     0.0
 1     1.0
 2     4.0
 3     9.0
 4    16.0
 5    25.0
-6     NaN
Name: Squares, dtype: float64

In [83]:
df.columns

Index(['Squares', 'Cubes'], dtype='object')

In [87]:
print(type(df.values))

<class 'numpy.ndarray'>

In [89]:
df.shape

(12, 2)

In [91]:
df.ndim

2

In [99]:
df.describe()

         Squares       Cubes
count  11.000000   12.000000
mean   10.000000  -18.000000
std     9.262829   87.281155
min     0.000000 -216.000000
25%     2.500000  -36.250000
50%     9.000000   -0.500000
75%    16.000000   12.750000
max    25.000000  125.000000

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, -5 to -6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Squares  11 non-null     float64
 1   Cubes    12 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 288.0 bytes